h1 {
	text-align: center;
	background-color:blue;
	color: #fff;
}

#buttons {
	padding: 40px;
}

#jumbotron {
	margin-left: 320px;
	margin-bottom: 20px;
	border-top: 50px;
}

#form {
	margin-left: 320px;
	margin-bottom: 20px;
	border-top: 50px;
}

#addGif {
	margin-left: 100px;
}